<div class="jumbotron p-5 display-2"><%= @user.first_name %> <%= @user.last_name %>'s Account</div>
  <div class="container">

    <div class="row">
      
      <div class="card col-3">

        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "card-body p-0", id: "avatar" %>
        <% else %>
          <div class="display-4">No avatar uploaded</div>
        <% end %>

      </div>

      <div class="col-9">

      

          <div class="card text-center">
            <div class="card-header">
              <h1 class="card-title">About me</h1>
            </div>
            <div class="card-body">
              <p class="card-text"><%= @user.bio %></p>
            </div>
          </div>

        

        <div class="row">
          <%= link_to "Edit account details", edit_user_profile_path(@user), class: "btn btn-outline-warning offset-4", id: "btn-yel" %>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-3 my-4">

        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td><%= @user.first_name %> <%= @user.last_name %></td>
            </tr>
            <tr>
              <th scope="row">Age</th>
              <td><%= @user.age %></td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
