<p id="notice"><%= notice %></p>

<p>
  <strong>Activity Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date_field.to_formatted_s(:long) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @activity.duration_minutes %> minutes
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
